*{
  margin-top: 1px;
  margin-bottom: 1px;
  padding: .1px;
}
.App-header{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pagination{
  width: 100%;
  display: flex;
  justify-content: space-between; /* This will push the children to opposite ends */
  align-items: center; /* Vertically center the children */
}

.pagination-center {
  flex-grow: 1; /* This makes the Pagination component expand to fill the available space and stay centered */
  display: flex;
  justify-content: center; /* Center the Pagination component horizontally */
  align-items: center; /* Center the Pagination component vertically */
}

/* .delete-button .MuiButton-containedError is a more specific selector that targets a button with the "contained" variant and "error" color when it is a descendant of an element with the class delete-button.  */
.delete-button .MuiButton-containedError{
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

.prev-button{
  margin-right: -8px;
  margin-top: 1px;
}
.last-button{
  margin-left: -8px;
  margin-top: 1px;
}

.center-action-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}